body {
  background-color: #febf01;
}

h1 {
  font-family: Verdana;
  font-size: 20px;
  color: #60200b;
  text-align: center;
}

p {
  font-size: 14px;
}

.botao {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  margin-top: 20px;
}
